.subjectCard {
    width     : 400px;
    max-height: 800px;

    .cardTitle {
        font-size  : 16px;
        font-weight: bold;
    }

    .extraArea {
        .col {
            display        : flex;
            align-items    : center;
            justify-content: center;
        }
    }

    .cardBody {

        .courses {

            .rowStyle {
                padding      : 4px 0px;
                border-bottom: 0.5px solid gray;
                margin-right : 12px;
                font-size    : 12px;

                .courseType {
                    color: #531dab;
                }

                .courseStatus {
                    color: #d9363e;
                }

                .courseButton {
                    margin-left: -3px;
                    font-size  : 12px;
                    cursor     : pointer;
                }
            }
        }
    }

    .hintText {
        text-align    : center;
        vertical-align: middle;

        span:first-child {
            font-size  : 16px;
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 24px;
        }
    }
}