.subjectCard {
    width     : 400px;
    max-height: 800px;
    overflow-y: auto;

    .courses {
        border-bottom : 0.5px solid gray;
        padding-top   : 2px;
        padding-bottom: 2px;

        .rowStyle {
            font-size: 10px;

            .courseType {
                color: #531dab;
            }

            .courseName {
                font-size: 10px;
            }

            .courseStatus {
                color: #d9363e;
            }

            .courseButton {
                font-weight: 1.4;
                cursor     : pointer;
            }
        }
    }

    .hintText {
        text-align    : center;
        vertical-align: middle;

        span:first-child {
            font-size  : 16px;
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 24px;
        }
    }
}