.subjectCard {
    width     : 400px;
    max-height: 800px;

    .cardTitle {
        font-size  : 16px;
        font-weight: bold;
    }

    .cardBody {

        .control {
            padding     : 4px 0px;
            margin-right: 12px;

            .auto-open {
                display: flex;
                flex-direction: row;
                .ant-input-group-wrapper {

                    .ant-input-group-addon {
                        font-size: 12px;
                    }
                }

                .openButton {
                    width: 64px;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: right;
                    line-height: 35px;
                    cursor     : pointer;
                    background-color: #108ee9;
                    color: #fff;
                    border-radius: 0px 2px 2px 0px;
                }

            }

            .ant-checkbox-wrapper {
                font-size: 12px;

                span:last-child {
                    padding: 0px 2px;
                }
            }
        }

        .courses {

            .rowStyle {
                padding      : 4px 0px;
                border-bottom: 0.5px solid gray;
                margin-right : 12px;
                font-size    : 12px;

                .courseStatus {
                    color      : #d9363e;
                    font-weight: bold;
                }

                .courseType {
                    color: #531dab;
                }

                .courseButton {
                    margin-left: -3px;
                    font-size  : 12px;
                    cursor     : pointer;
                }
            }
        }
    }

    .hintText {
        text-align    : center;
        vertical-align: middle;

        span:first-child {
            font-size  : 16px;
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 24px;
        }
    }
}