.homeCard {
  width     : 400px;
  max-height: 800px;
  overflow-y: auto;

  .subjects {
    border-bottom : 0.5px solid gray;
    padding-top   : 2px;
    padding-bottom: 2px;

    .subjectName {
      font-size: 10px;
    }

    .subjectButton {
      font-weight: 1.4;
      cursor     : pointer;
    }
  }
}