.draggable-root {
    z-index : 9999;
    position: fixed;

    cursor    : grab;
    max-height: 800px;

    border       : 1.5px dashed gray;
    border-radius: 5px;

    &:hover {
        border: 1.5px solid gray;
    }
}