.draggable-root {
    z-index : 1000;
    position: fixed;

    cursor    : grab;
    max-height: 800px;

    .box {
        padding : 3px;
        position: relative;
        overflow: hidden;
    }

    .box>* {
        background-color: #fff;
        position        : relative;
    }

    .box:before {
        content   : '';
        animation : roll linear 2s infinite;
        background: conic-gradient(#22A7F0, #fff);
        position  : absolute;
        width     : 1000px;
        height    : 1000px;
        left      : 50%;
        top       : 50%;
    }

    .box:hover:before {
        content   : '';
        animation : roll linear 2s infinite;
        background: conic-gradient(#C93756, #fff);
        position  : absolute;
        width     : 1000px;
        height    : 1000px;
        left      : 50%;
        top       : 50%;
    }

    @keyframes roll {
        from {
            transform: translate(-50%, -50%) rotateZ(0deg);
        }

        to {
            transform: translate(-50%, -50%) rotateZ(-360deg);
        }
    }
}